


<div class="container">
  <h1>走りの記録</h1>

  <div class="row">
    <%= link_to '記録をかく', new_blog_path , class: "btn btn-primary mx-auto d-block" %>
  </div>
  
  <br>
  
  <div class="col-xl-12 col-lg-7">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">ワークアウト</h6>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <%= month_calendar events: @blogs do |date, blogs| %>
            <%= date.day %>
            <% blogs.each do |blog| %>
              <div><%= link_to blog.content, blog %> </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>  


  <br>
  <div class="col-xl-12 col-lg-7">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">今月の距離</h6>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <%= bar_chart @blogs.this_month.group_by_month(:start_time).sum(:distance), min: 0, max: 200, height: "200px", colors: ["#0099FF"] %>
        </div> 
      </div>
    </div>
  </div>  
    
  <br>
  <div class="col-xl-12 col-lg-7">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">最新ログ</h6>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>日時</th>
                <th>メニュー</th>
                <th>距離</th>
                <th colspan="3"></th>
              </tr>
            </thead>
          
            <tbody>
              <% @blogs.order("start_time DESC").limit(5).each do |blog| %>
                <tr>
                  <td><%= blog.start_time.strftime("%Y-%m-%d") %></td>
                  <td><%= blog.content %></td>
                  <td><%= blog.distance %>　Km</td>
                  <td><%= link_to '詳細', blog_path(blog.id) %></td>
                  <td><%= link_to '編集', edit_blog_path(blog.id) %></td>
                  <td><%= link_to '削除',blog_path(blog.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <br>
</div>
