<div class="container">
  <div class="text-center">
    <h1>
      <span class="fas fa-bolt"></span>
      runboost
    </h1>
    <br>
    <h1>お疲れ様でした！</h1>
    <h2>走りの記録を刻みましょう！</h2>
    
    <br>
    
    <%= form_with(model: @blog, local: true, html: { class: "form-signin" } ) do |form| %>
      <div class="time">
        <%= form.label :日　時 %><br>
          <%= form.date_field :start_time, value:Time.now.strftime("%Y-%m-%d"), autofocus: true, class: "form-control" %>
      </div>
      
      <br> 
      
      <div class="content">
        <%= form.label :メニュー %><br>
        <%= form.text_field :content, autofocus: true, placeholder: "例）ジョグ、タイムレース", class: "form-control" %>
      </div>
      
      <br>
      
      <div class="distance">
        <%= form.label :距離（Km） %><br>
        <%= form.number_field :distance, autofocus: true,  min: 0, class: "form-control" %>
      </div>
      
      <br>
      
      <div class="comment">
        <%= form.label :コメント %><br>
        <%= form.text_area :comment, autofocus: true, rows: 10, placeholder: "今回のメニューにコメントしましょう！", class: "form-control" %>
      </div>
      
      <br>
    
    　<div>
        <%= form.submit "記録する", class: "btn btn-lg btn-primary" %>
      </div>
    
    <% end %>
  </div>
</div>