<div class="container">
  <div class="text-center">
    <br>
    
    <h1>お疲れ様でした！</h1>
    <h2>走りの記録を刻みましょう！</h2>
    
    <br>
    
    <%= form_with(model: @blog, local: true) do |form| %>
      <div class="time">
        <%= form.label :日　時 %><br>
        <%= form.date_select :start_time, { use_month_numbers: true} %>
      </div>
      
      <div class="content">
        <%= form.label :メニュー %><br>
        <%= form.text_field :content %>
      </div>
      
      <div class="distance">
        <%= form.label :距　離 %><br>
        <%= form.number_field :distance %>
      </div>
      
      <div class="comment">
        <%= form.label :コメント %><br>
        <%= form.text_field :comment %>
      </div>
    
    　 <div>
        <%= form.submit "記録する", class: "btn btn-lg btn-primary"%>
      </div>
    
    <% end %>
  </div>
</div>