<div class="container">
  <div class="text-center">
    <h1>
      <span class="fas fa-bolt"></span>
      runboost
    </h1>
    <br>
    <h1>お疲れ様でした！</h1>
    <h2>走りの記録を刻みましょう！</h2>
    
    <br>
    
    <%= form_with(model: @blog, local: true, html: { class: "form-signin" } ) do |form| %>
      <div class="time">
        <%= form.label :日　時 %><br>
        <div class="form-inline justify-content-between">
          <%= form.date_select :start_time, { use_month_numbers: true}, autofocus: true, class: "form-control" %>
        </div>
      </div>
      
      <div class="content">
        <%= form.label :メニュー %><br>
        <%= form.text_field :content, autofocus: true, class: "form-control" %>
      </div>
      
      <div class="distance">
        <%= form.label :距　離 %><br>
        <%= form.number_field :distance, autofocus: true, class: "form-control" %>
      </div>
      
      <div class="comment">
        <%= form.label :コメント %><br>
        <%= form.text_area :comment, autofocus: true, class: "form-control"%>
      </div>
    
    　 <div>
        <%= form.submit "記録する", class: "btn btn-lg btn-primary "%>
      </div>
    
    <% end %>
  </div>
</div>