<p id="notice"><%= notice %></p>

<p>
  <strong>メニュー</strong>
  <%= @blog.content %>
</p>


<p>
  <strong>距離</strong>
  <%= @blog.distance %>
</p>
<p>
  <strong>時間</strong>
  <%= @blog.start_time.strftime("%Y-%m-%d") %>
</p>

<p>
  <strong>コメント</strong>
  <%= @blog.comment %>
</p>



<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>