<div class="container">
  <div class="text-center">
    <p>
      <strong>日　時</strong><br>
      <%= @blog.start_time.strftime("%Y-%m-%d") %>
    </p>
    
    <br>
    
    <p>
      <strong>メニュー</strong><br>
      <%= @blog.content %>
    </p>
    
    <br>
    
    <p>
      <strong>距　離</strong><br>
      <%= @blog.distance %> Km
    </p>
    
    <br>
    
    <p>
      <strong>コメント</strong><br>
      <%= @blog.comment %>
    </p>
    <%= link_to '編集', edit_blog_path(@blog) %> |
    <%= link_to '削除',blog_path(@blog), method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to '戻る', blogs_path %>
  </div>
</div>