<%= render "devise/shared/error_messages", resource: resource, class: "error_messages" %>
<div class="container_user text-center">
  <div class="container_white">
     <h1><span class="fas fa-bolt"></span>
        runboost
      </h1>
      <h2>runboostはあなたの走りのためのサービスです！</h2>  
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-signin" } ) do |f| %>
    <div class="field">
      <%= f.label :ユーザーネーム %><br />
      <%= f.text_field :username, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
    
    <div class="field">
      <%= f.label :eメール %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
  
    <div class="field">
      <%= f.label :パスワード %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password",  class: "form-control" %>
    </div>
    
     <div class="field">
      <%= f.label :パスワード確認 %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password",  class: "form-control" %>
    </div>
  
    <% if devise_mapping.rememberable? %>
      <div class="checkbox mb-3">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
  
    <div class="row">
      <%= f.submit "新規登録", class: "btn btn-lg btn-primary btn-block" %>
    </div>
  <% end %>
 
  </div>
</div>