<h1>プロフィール編集</h1>

<div class="container">
    <div class="text-center">
      <%= form_for @user do |f| %>
        <div class="field">
          <%= f.label :アイコン %><br>
          <%= f.attachment_field :profie_image %>
        </div>
        
        <br>
        
        <div class="field">
          <%= f.label :名　前 %><br>
          <%= f.text_field :username %>
        </div>
        
         <br>
         
        <div class="field">
          <%= f.label :eメール %><br>
          <%= f.text_field :email %>
        </div> 
        
         <br>
         
        <div class="field">
          <%= f.label :自己紹介 %><br>
          <%= f.text_field :profile %>
        </div>  
       
        <br>
        
        <div>
          <%= f.submit "更新", class: "btn btn-primary" %>
        </div>  
        
      <% end %>
    </div>
  </div>  