<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<div class="container">
  <div class="row"> 
    <div class="col-xl-6 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">プロフィール</h6>
          <% if @user.id == current_user.id %>
            <%= link_to "編　集", edit_user_path(current_user), class: "btn btn-primary" %>
          <% end %>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
              <%= attachment_image_tag @user, :profie_image, fallback: "no-image.png", class: "card-img-top" %>
            <hr>
            <div class="content">
              <p class="text-center text-bold text-large"><%= @user.username %></p>
            </div>
            <hr>
            <div class="content">
              <p class="text-bold text-large text-ornament">自己紹介</p>
              <br>
              <p class="text-center"><%= @user.profile %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-4 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">今月の達成度</h6>
          
        </div>  
        <!-- Card Body -->
        <div class="card-body">
          <%= pie_chart({"Football" => 10, "Basketball" => 5}) %>
          <hr>
          <p class="text-bold text-large text-ornament">今月の目標</p>
          <br>
          <p class="text-center">
            <% if @user.goals.present? %>
              <td><%= @user.goals.this_month.last.distance %> Km</td>
            <% else %>
              <td><p>未設定</p></td>
            <% end %>
          </p>
          <br>
          <hr>
          <div class="row justify-content-center">
            <% if @user.id == current_user.id %>
              <%= link_to "目標設定", goals_path, class: "btn btn-primary m-lg-5" %>
              <%= link_to "記録する", new_blog_path, class: "btn btn-primary m-lg-5" %>
            <% end %>
          </div> 
        </div>
      </div>
    </div>
  </div> 
  <div class="col-xl-12 col-lg-7">
    <div class="card shadow mb-4">
      <div class="card-header py-4 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">過去のデータ</h6>
      </div>  
      <div class="card-body">
        <div class="chart-area">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>月間</th>
                <th>走行距離</th>
                <th>走行目標</th>
                <th>達成度</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">今月</th>
                <td><%= @user.blogs.this_month.sum(:distance) %></td>
                <% if @user.goals.present? %>
                  <td><%= @user.goals.this_month.last.distance %></td>
                <% else %>
                  <td><p>未設定</p></td>
                <% end %>
                <% if @user.goals.present? %>
                  <td><%= @user.blogs.this_month.sum(:distance) * 100 / @user.goals.this_month.last.distance %>  %</td>
                <% else %>
                 <td><p>判定できません</p></td>
                <% end %>
              </tr>
              <tr>
                <th scope="row">先月</th>
                <td><%= @user.blogs.last_month.sum(:distance) %></td>
                <% if @user.goals.nil? %>
                  <td><%= @user.goals.last_month.last.distance %></td>
                <% else %>
                  <td><p>未設定</p></td>
                <% end %>
                <% if @user.goals.nil? %>
                  <td><%= @user.blogs.last_month.sum(:distance) * 100  /  @user.goals.last_month.last.distance %> %</td>
                <% else %>
                 <td><p>判定できません</p></td>
                <% end %>
              </tr>
              <tr>
                <th scope="row">先々月</th>
                <td><%= @user.blogs.two_months_ago.sum(:distance) %></td>
                <% if @user.goals.nil? %>
                  <td><%= @user.goals.two_months_ago.last.distance %></td>
                <% else %>
                  <td><p>未設定</p></td>
                <% end %>
                <% if @user.goals.nil? %>
                  <td><%= @user.blogs.two_months_ago.sum(:distance) * 100 /  @user.goals.two_months_ago.last.distance %>  %</td>
                <% else %>
                  <td><p>判定できません</p></td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>  
  </div>
</div> 