<div class="container">
  <div class="row"> 
    <div class="col-xl-6 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">プロフィール</h6>
          <% if @user.id == current_user.id %>
            <%= link_to "編　集", edit_user_path(current_user), class: "btn btn-primary" %>
          <% end %>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <% if @user.profie_image_id.blank? %>
              <%= image_tag "no-image.png", class: "card-img-top" %>
            <% else %>
              <%= image_tag @user.profie_image_id.url, class: "card-img-top" %>
            <% end %>
            <hr>
            <div class="content">
              <p class="text-center text-bold text-large"><%= @user.username %></p>
            </div>
            <hr>
            <div class="content">
              <p class="text-bold text-large text-ornament">自己紹介</p>
              <br>
              <p class="text-center"><%= @user.profile %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-4 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">今月の達成度</h6>
          
        </div>  
        <!-- Card Body -->
        <div class="card-body">
          <p class="text-bold text-large text-ornament">今月の達成度</p>
          <br>
          <% if @user.goals.this_month.present? && @user.blogs.this_month.sum(:distance) * 100 / @user.goals.this_month.last.distance <= 100 %>
            <!-- 円グラフ　-->
            <div class="progress" data-percentage="<%= @user.blogs.this_month.sum(:distance) * 100 / @user.goals.this_month.last.distance %>">
    		  　  <span class="progress-left">
    			      <span class="progress-bar"></span>
    	      	</span>
    		      <span class="progress-right">
    			      <span class="progress-bar"></span>
    		      </span>
    		      <div class="progress-value">
    			      <div>
    				      <%= @user.blogs.this_month.sum(:distance) * 100 / @user.goals.this_month.last.distance %> %<br>
    				    </div>
    		      </div>
    	       </div>
    	     <% elsif @user.goals.this_month.present? && @user.blogs.this_month.sum(:distance) * 100 / @user.goals.this_month.last.distance >= 101  %>
    	       <div class="progress" data-percentage="100">
    		  　  <span class="progress-left">
    			      <span class="progress-bar"></span>
    	      	</span>
    		      <span class="progress-right">
    			      <span class="progress-bar"></span>
    		      </span>
    		      <div class="progress-value">
    			      <div>
    				      <%= @user.blogs.this_month.sum(:distance) * 100 / @user.goals.this_month.last.distance %> %<br>
    				    </div>
    		      </div>
    	       </div>
    	       <!-- 円グラフ終わり　-->
  	       <% else %>
  	         <h1 class="text-center">未設定</h1>
           <% end %>
  	       <hr>
  	       <p class="text-bold text-large text-ornament">今月の目標距離</p><br>
  	      <p>
            <% if @user.goals.this_month.present? %>
              <h1 class="text-center"><%= @user.goals.this_month.last.distance %> Km</h1>
            <% else %>
          　   <h1 class="text-center">未設定</h1>
            <% end %>
   	      </p>
   	      <hr>
  	       <p class="text-bold text-large text-ornament">今月の走行距離</p><br>
  	       <h1 class="text-center"><%= @user.blogs.this_month.sum(:distance) %> Km</h1>
          <hr>
          <div class="row justify-content-center">
            <% if @user.id == current_user.id %>
              <%= link_to "目標設定", goals_path, class: "btn btn-primary m-lg-5" %>
              <%= link_to "記録する", new_blog_path, class: "btn btn-primary m-lg-5" %>
            <% end %>
          </div> 
        </div>
      </div>
    </div>
  </div> 
  <div class="col-xl-12 col-lg-7">
    <div class="card shadow mb-4">
      <div class="card-header py-4 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">過去のデータ</h6>
      </div>  
      <div class="card-body">
        <div class="chart-area">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>月間</th>
                <th>走行距離</th>
                <th>走行目標</th>
                <th>達成度</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">今月</th>
                <td><%= @user.blogs.this_month.sum(:distance) %> Km</td>
                <% if @user.goals.this_month.present? %>
                  <td><%= @user.goals.this_month.last.distance %> Km</td>
                <% else %>
                  <td><p>未設定</p></td>
                <% end %>
                <% if @user.goals.this_month.present? && @user.blogs.this_month.sum(:distance) * 100 / @user.goals.this_month.last.distance >= 51 &&  @user.blogs.this_month.sum(:distance) * 100 / @user.goals.this_month.last.distance <= 100 %>
                  <td>
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:<%= @user.blogs.this_month.sum(:distance) * 100 / @user.goals.this_month.last.distance %>%" aria-valuenow="<%= @user.blogs.this_month.sum(:distance) * 100 / @user.goals.this_month.last.distance %>" aria-valuemin="0" aria-valuemax="100">
                      <%= @user.blogs.this_month.sum(:distance) * 100 / @user.goals.this_month.last.distance %>  %
                    </div>
                  </td>
                <% elsif @user.goals.this_month.present? && @user.blogs.this_month.sum(:distance) * 100 / @user.goals.this_month.last.distance >= 21 &&  @user.blogs.this_month.sum(:distance) * 100 / @user.goals.this_month.last.distance<= 50 %>
                  <td>
                    <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" style="width:<%= @user.blogs.this_month.sum(:distance) * 100 / @user.goals.this_month.last.distance %>%" aria-valuenow="<%= @user.blogs.this_month.sum(:distance) * 100 / @user.goals.this_month.last.distance %>" aria-valuemin="0" aria-valuemax="100">
                      <%= @user.blogs.this_month.sum(:distance) * 100 / @user.goals.this_month.last.distance %>  %
                    </div>
                  </td>
                <% elsif  @user.goals.this_month.present? && @user.blogs.this_month.sum(:distance) * 100 / @user.goals.this_month.last.distance <= 20 %>
                  <td>
                    <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" style="width:15%" aria-valuenow="<%= @user.blogs.this_month.sum(:distance) * 100 / @user.goals.this_month.last.distance %>" aria-valuemin="0" aria-valuemax="100">
                      <%= @user.blogs.this_month.sum(:distance) * 100 / @user.goals.this_month.last.distance %>  %
                    </div>
                  </td>
                <% elsif  @user.goals.this_month.present? && @user.blogs.this_month.sum(:distance) * 100 / @user.goals.this_month.last.distance >= 101 %>
                  <td>
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                      <%= @user.blogs.this_month.sum(:distance) * 100 / @user.goals.this_month.last.distance %>  %
                    </div>
                  </td>
                <% else %>
                 <td><p>判定できません</p></td>
                <% end %>
              </tr>
              <tr>
                <th scope="row">先月</th>
                <td><%= @user.blogs.last_month.sum(:distance) %> Km</td>
                <% if @user.goals.last_month.present? %>
                  <td><%= @user.goals.last_month.last.distance %> Km</td>
                <% else %>
                  <td><p>未設定</p></td>
                <% end %>
                <% if @user.goals.last_month.present? && @user.blogs.last_month.sum(:distance) * 100 / @user.goals.last_month.last.distance >= 51 &&  @user.blogs.last_month.sum(:distance) * 100 / @user.goals.last_month.last.distance <= 100%>
                  <td>
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:<%= @user.blogs.last_month.sum(:distance) * 100 / @user.goals.last_month.last.distance %>%" aria-valuenow="<%= @user.blogs.last_month.sum(:distance) * 100 / @user.goals.last_month.last.distance %>" aria-valuemin="0" aria-valuemax="100">
                      <%= @user.blogs.last_month.sum(:distance) * 100 / @user.goals.last_month.last.distance %>  %
                    </div>
                  </td>
                <% elsif @user.goals.last_month.present? && @user.blogs.last_month.sum(:distance) * 100 / @user.goals.last_month.last.distance >= 21 &&  @user.blogs.last_month.sum(:distance) * 100 / @user.goals.last_month.last.distance<= 50 %>
                  <td>
                    <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" style="width:<%= @user.blogs.last_month.sum(:distance) * 100 / @user.goals.last_month.last.distance %>%" aria-valuenow="<%= @user.blogs.last_month.sum(:distance) * 100 / @user.goals.last_month.last.distance %>" aria-valuemin="0" aria-valuemax="100">
                      <%= @user.blogs.last_month.sum(:distance) * 100 / @user.goals.last_month.last.distance %>  %
                    </div>
                  </td>
                <% elsif  @user.goals.last_month.present? && @user.blogs.last_month.sum(:distance) * 100 / @user.goals.last_month.last.distance <= 20 %>
                  <td>
                    <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" style="width:15%" aria-valuenow="<%= @user.blogs.last_month.sum(:distance) * 100 / @user.goals.last_month.last.distance %>" aria-valuemin="0" aria-valuemax="100">
                      <%= @user.blogs.last_month.sum(:distance) * 100 / @user.goals.last_month.last.distance %>  %
                    </div>
                  </td>
                <% elsif  @user.goals.last_month.present? && @user.blogs.last_month.sum(:distance) * 100 / @user.goals.last_month.last.distance >= 101 %>
                  <td>
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                      <%= @user.blogs.last_month.sum(:distance) * 100 / @user.goals.last_month.last.distance %>  %
                    </div>
                  </td>  
                <% else %>
                 <td><p>判定できません</p></td>
                <% end %>  
              </tr>
              <tr>
                <th scope="row">先々月</th>
                <td><%= @user.blogs.two_months_ago.sum(:distance) %> Km</td>
                <% if @user.goals.two_months_ago.present? %>
                  <td><%= @user.goals.two_months_ago.last.distance %> Km</td>
                <% else %>
                  <td><p>未設定</p></td>
                <% end %>
                <% if @user.goals.two_months_ago.present? && @user.blogs.two_months_ago.sum(:distance) * 100 / @user.goals.two_months_ago.last.distance >= 51 &&  @user.blogs.two_months_ago.sum(:distance) * 100 / @user.goals.two_months_ago.last.distance <= 100%>
                  <td>
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:<%= @user.blogs.two_months_ago.sum(:distance) * 100 / @user.goals.two_months_ago.last.distance %>%" aria-valuenow="<%= @user.blogs.two_months_ago.sum(:distance) * 100 / @user.goals.two_months_ago.last.distance %>" aria-valuemin="0" aria-valuemax="100">
                      <%= @user.blogs.two_months_ago.sum(:distance) * 100 / @user.goals.two_months_ago.last.distance %>  %
                    </div>
                  </td>
                <% elsif @user.goals.two_months_ago.present? && @user.blogs.two_months_ago.sum(:distance) * 100 / @user.goals.two_months_ago.last.distance >= 21 &&  @user.blogs.two_months_ago.sum(:distance) * 100 / @user.goals.two_months_ago.last.distance<= 50 %>
                  <td>
                    <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" style="width:<%= @user.blogs.two_months_ago.sum(:distance) * 100 / @user.goals.two_months_ago.last.distance %>%" aria-valuenow="<%= @user.blogs.two_months_ago.sum(:distance) * 100 / @user.goals.two_months_ago.last.distance %>" aria-valuemin="0" aria-valuemax="100">
                      <%= @user.blogs.two_months_ago.sum(:distance) * 100 / @user.goals.two_months_ago.last.distance %>  %
                    </div>
                  </td>
                <% elsif  @user.goals.two_months_ago.present? && @user.blogs.two_months_ago.sum(:distance) * 100 / @user.goals.two_months_ago.last.distance <= 20 %>
                  <td>
                    <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" style="width:15%" aria-valuenow="<%= @user.blogs.two_months_ago.sum(:distance) * 100 / @user.goals.two_months_ago.last.distance %>" aria-valuemin="0" aria-valuemax="100">
                      <%= @user.blogs.two_months_ago.sum(:distance) * 100 / @user.goals.two_months_ago.last.distance %>  %
                    </div>
                  </td>
                <% elsif  @user.goals.two_months_ago.present? && @user.blogs.two_months_ago.sum(:distance) * 100 / @user.goals.two_months_ago.last.distance >= 101 %>
                  <td>
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                      <%= @user.blogs.two_months_ago.sum(:distance) * 100 / @user.goals.two_months_ago.last.distance %>  %
                    </div>
                  </td>  
                <% else %>
                 <td><p>判定できません</p></td>
                <% end %>  
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>  
  </div>
</div>
