<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card">
    <%= attachment_image_tag @user, :profie_image, fallback: "no-image.png", class: "card-img-top" %>
  </div>
</div>    
      <%= @user.username %>
<% if @user.id == current_user.id %>
<%= @user.email %>
<%= link_to "編集", edit_user_path(@user) %>
<% end %>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>月間</th>
      <th>走行距離</th>
      <th>走行目標</th>
      <th>達成度</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">今月</th>
      <td><%= @blog.this_month.sum(:distance) %></td>
      <td><%= @goal.this_month.last.distance %></td>
      <td><%= @blog.this_month.sum(:distance) * 100 / @goal.this_month.last.distance %>  %</td>
    </tr>
    <tr>
      <th scope="row">先月</th>
      <td><%= @blog.last_month.sum(:distance) %></td>
      <td><%= @goal.last_month.last.distance %></td>
      <td><%= @blog.last_month.sum(:distance) * 100  / @goal.last_month.last.distance %> %</td>
    </tr>
    <tr>
      <th scope="row">先々月</th>
      <td><%= @blog.two_months_ago.sum(:distance) %></td>
      <td><%= @goal.two_months_ago.last.distance %></td>
      <td><%= @blog.two_months_ago.sum(:distance) * 100 / @goal.two_months_ago.last.distance %>  %</td>
    </tr>
  </tbody>
</table>