<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card">
    <%= attachment_image_tag @user, :profie_image, fallback: "no-image.png", class: "card-img-top" %>
  </div>
</div>    
      <%= @user.username %>
<% if @user.id == current_user.id %>
<%= @user.email %>
<%= link_to "編集", edit_user_path(@user) %>
<% end %>

<%= form_with(model: @goal, local: true) do |form| %>
  <div class="goal">
    <%= form.label :goal %>
    <%= form.number_field :goal %>
  </div>
  
  <div class="submit">
    <%= form.submit %>
  </div>
  
<% end %>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
    </tr>
  </tbody>
</table>