<!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
     <!-- Main Content -->
      <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Content Row -->
          <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"> 今月の距離</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 text-center"><%= @blogs.this_month.sum(:distance) %> Km</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-running fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    今月の目標距離</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800 text-center">
                                  <% if @goal.present? %>
                                    <p><%= @goal.this_month.last.distance %> Km<p> 
                                  <% else %>
                                    <p>目標を設定しましょう！</p>
                                  <% end %>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">年間走行距離</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800 text-center"><%= @blogs.sum(:distance) %> Km</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    トロフィー</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800 text-center">Coming Soon</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-trophy fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- Content Row -->
          
          <div class="row">
            <div class="col-xl-3 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">プロフィール</h6>
                    <%= link_to "編　集", edit_user_path(current_user), class: "btn btn-primary" %>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <%= attachment_image_tag @users, :profie_image, fallback: "no-image.png", class: "card-img-top" %>
                      <hr>
                      <div class="content">
                        <p class="text-center text-bold text-large"><%= current_user.username %></p>
                      </div>
                      <hr>
                      <div class="content">
                        <p class="text-bold text-large text-ornament">自己紹介</p>
                        <br>
                        <p class="text-center"><%= current_user.profile %></p>
                      </div>
                      <hr>
                      <div class="content">
                        <p class="text-bold text-large text-ornament">今月の目標</p>
                        <br>
                        <p class="text-center">
                          <% if @goal.present? %>
                            <%= @goal.this_month.last.distance %> Km 
                          <% else %>
                            目標を設定しましょう！
                          <% end %>
                        </p>  
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <!-- Area Chart -->
            <div class="col-xl-9 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">ワークアウト</h6>
                 
                   
                    <%= link_to "編　集", blogs_path, class: "btn btn-primary" %>
                  
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                      <%= month_calendar events: @blogs do |date, blogs| %>
                        <%= date.day %>
                        <% blogs.each do |blog| %>
                          <div>
                            <%= link_to blog.content, blog %>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Content Row -->
          <div class="row">
            <!-- Content Column -->
            <div class="col-lg-12 mb-4">
              <!-- Project Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">過去の記録</h6>
                </div>
                <div class="card-body">
                　<h1>月　間</h1>
                  <%= bar_chart @blogs.group_by_month_of_year(:start_time).sum(:distance), min: 0, max: 200, width: "1500px", height: "400px", colors: ["#0099FF"] %>
                  <br>
                  <h1>年　間</h1>
                  <%= bar_chart @blogs.this_year.group_by_year(:start_time).sum(:distance), min: 0, max: 2000, width: "1500px", height: "100px" , colors: ["blue"]%>
                 
                </div>
              </div>
            </div>
          </div>  
        
      
        <!-- /.container-fluid -->
        </div>
      <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->


