<div class="container_user" >
  <div class=" container_white text-center">
    <h1><span class="fas fa-bolt"></span>
      runboost
    </h1>
    <h2>ログイン</h2>
  
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-signin" } ) do |f| %>
      <div class="field">
        <%= f.label :eメール %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "sesstion_email"%>
      </div>
    
      <div class="field">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "current-password",  class: "form-control",id: 'sesstion_password' %>
      </div>
      
      <br>
    
      <div>
        <%= f.submit "ログイン", class: "btn btn-lg btn-primary btn-block" %>
      </div>
    <% end %>
    
   
  
  </div>
</div>  