<div class="container">
  <div class="text-center">
    <h1>
      <span class="fas fa-bolt"></span>
      runboost
    </h1>
    <br>
    
    <h1>今月の目標を設定しましょう！</h1>
    
    <br>
    
    <%= form_with(model: Goal, local: true,html: { class: "form-signin" }) do |form| %>
     <div class="time">
      <%= form.label :年　月 %><br>
      <div class="form-inline justify-content-center">
       <%= form.date_select :date, { discard_day: true, use_month_numbers: true} ,autofocus: true, class: "form-control"  %>
      </div>
     </div>
     
     <br>
     
     <div class="goal">
       <%= form.label :目　標 %><br>       
       <%= form.number_field :distance, autofocus: true,  min: 0, class: "form-control"  %>
     </div>
     
     <br>
     
     <div class="submit">
       <%= form.submit "目標を設定", class: "btn btn-lg btn-primary" %>
     </div>
     
    <% end %>
  </div>
</div>


