<h1>Goals#index</h1>
<p>Find me in app/views/goals/index.html.erb</p>
 <%= form_with(model: Goal, local: true) do |form| %>
  <div class="goal">
    <%= form.label :goal %>
    <%= form.number_field :distance %>
  </div>
  
   <div class="time">
    <%= form.label :date %>
    <%= form.date_select :date, { discard_day: true, use_month_numbers: true} %>
  </div>
  
  <div class="submit">
    <%= form.submit "更新" %>
  </div>
  
<% end %>