<h1>Goals#index</h1>
<p>Find me in app/views/goals/index.html.erb</p>
<div class="container">
  <div class="text-center">
    <h1>月間の目標を設定しましょう！</h1>
    
    <br>
    
    <%= form_with(model: Goal, local: true) do |form| %>
     <div class="goal">
       <%= form.label :目　標 %><br>
       <%= form.number_field :distance %>
     </div>
     
     <br>
     
      <div class="time">
       <%= form.label :月　間 %><br>
       <%= form.date_select :date, { discard_day: true, use_month_numbers: true} %>
     </div>
     
     <br>
     
     <div class="submit">
       <%= form.submit "目標を設定", class: "btn btn-primary" %>
     </div>
     
    <% end %>
  </div>
</div>