<!DOCTYPE html>
<html>
  <head>
    <title>Runboost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-info">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    
  　<% if flash[:alert] %>
      <div class="notification is-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="home/top">
        <span class="fas fa-bolt"></span> run boost
    　</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="home/top">マイページ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blogs">計　画</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users">ランナー一覧</a>
          </li>
        </ul>
        <form class="navbar-nav">
          <% if user_signed_in? %>
            <a class="nav-link" href="/users/sign_out" data-method="delete">ログアウト</a>
          <% else %>  
            <a class="nav-link" href=" /users/sign_up" >新規登録</a>
            <a class="nav-link" href=" /users/sign_in" >ログイン</a>
          <% end %>   
        </form>
      </div>
    </nav>
      
    <%= yield %>
    
  </body>
  </html>
