<!DOCTYPE html>
<html>
  <head>
    <title>Runboost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-info">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    
  　<% if flash[:alert] %>
      <div class="notification is-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

      <a class="navbar-brand" href=<%= root_path %>>
        <span class="fas fa-bolt"></span>
        runboost
      </a>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "マイページ", root_path, class: "nav-link mx-5" %>
          </li>
          <li class="nav-item">
            <%= link_to "記　録",blogs_path, class: "nav-link mx-5" %>
          </li>
          <li class="nav-item">
            <%= link_to "目標設定", goals_path, class: "nav-link mx-5" %>
          </li>
           <li class="nav-item">
            <%= link_to "ランナー一覧", users_path, class: "nav-link mx-5" %>
          </li>
        </ul>
        <form class="navbar-nav">
          <% if user_signed_in? %>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <%= link_to  current_user.username , user_path(current_user), class: "nav-link" %>
              </li> 
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
              </li>
            </ul>  
          <% else %>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
              </li>
              <li>
                <%= link_to "ログイン", user_session_path, class: "nav-link" %>
              </li>
            </ul>  
          <% end %>   
        </form>
      </div>
    </nav>
      
    <%= yield %>
    
  </body>
  </html>
